{% extends 'base.html.twig' %}

{% block title %}Bucket{% endblock %}

{% block main %}
    <h1>Bucket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Name</th>
                <td>{{ bucket.name }}</td>
            </tr>
            <tr>
                <th scope="col">Endpoint</th>
                <td>{{ bucket.endpoint }}</td>
            </tr>
            <tr>
                <th scope="col">Region</th>
                <td>{{ bucket.region }}</td>
            </tr>
            <tr>
                <th scope="col">Credentials_key</th>
                <td>{{ bucket.credentialsKey }}</td>
            </tr>
            <tr>
                <th scope="col">Credentials_secret</th>
                <td>{{ bucket.credentialsSecret }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bucket_index') }}">back to list</a>

    <a href="{{ path('app_bucket_edit', {'id': bucket.id}) }}">edit</a>

    {{ include('bucket/_delete_form.html.twig') }}

    <hr>

    <h2>Incidents</h2>
    <dev hx-get="{{ path('app_bucket_incidents_sf', {'id': bucket.id}) }}" hx-trigger="load"></dev>

    <hr>

    <h2>Files</h2>
    <dev hx-get="{{ path('app_info_sf', {'id': bucket.id}) }}" hx-trigger="load"></dev>
    
{% endblock %}
